.container {
    padding: 10px;
    margin: auto;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #333;
}
.inputGroup {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.required {
    color: red;
}

.input, .textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.textarea {
    min-height: 100px;
    resize: none;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    color: #333;
}

.checkbox {
    width: 16px;
    height: 16px;
}

.formFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e64e2e;
}
@media (max-width: 768px) {
    .container{
        flex-direction: column;
        padding: 10px;
        border-radius: 0px;
        box-shadow: none;

    }
    .right {
        display: none;
    }
    .formFooter {
        flex-direction: column;
        gap: 10px;
    }
    .inputGroup {
        grid-template-columns: 1fr;
    }   
}