.container {
    display: flex;
    gap: 2rem;
}
.container img {
    max-width: 650px;
    object-fit: contain;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        gap: 0;
    }
    .container img {
        max-width: 100%;
        object-fit: contain;
    }
}